body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  padding: 2% 5%;
}

.rowContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: stretch;
}

.inputContainer {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 0;
  padding: 20px;
  border: 1px solid #f0f0f0;
}

.inputRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.inputCol {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
}
